<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pracice</title>
    <script src="script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js" integrity="sha512-JSCFHhKDilTRRXe9ak/FJ28dcpOJxzQaCd3Xg8MyF6XFjODhy/YMCM8HW0TFDckNHWUewW+kfvhin43hKtJxAw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </head>
  <body>
    <form onsubmit="handleSubmit(event)">
      <label for="Itemname">Itemname:</label>
      <input id="Itemname" name="Itemname" />
      <label for="desc">Description</label>
      <input id="desc" name="desc" />
      <label for="price">Price</label>
      <input id="price" name="price" />
      <label for="quantity">Quantity</label>
      <input id="quantity" name="quantity" />
      <button type="submit">Add Items</button>
    </form>
    <table id="tableData">
      <tr>
        <th>ID</th>
        <th>Item Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Buy 1 Item</th>
        <th>Buy 2 Item</th>
        <th>Buy 3 Item</th>
      </tr>
    </table>
  </body>
</html>
